body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.number {
    background-color: #f0f0f0;
}

.operator {
    background-color: #f9a825;
}

.equal {
    background-color: #1fc140;
    color: #fff;
}

.clear {
    background-color: #e94e77;
    color: #fff;
}
