/* 기본 스타일 */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin: 20px 0;
}

#changeCalculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 5px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#changeResult {
    font-weight: bold;
    margin-top: 20px;
}
